@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
  padding: 0px;
}

html {
  font-size: 10px;
  text-align: center;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 20px;
  }
}

.title {
  color: rgb(214, 135, 135);
  font-size: 2.5rem;
}

.card {
  width: 10rem;
  height: 10rem;
  border: 1px solid beige;
  background-color: rgb(84, 215, 215);
  display: inline-block;
  border-radius: 3px;
  color: beige;
  font-size: 5rem;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

.winner {
  background-color: rgb(56, 181, 181);
}

.container {
  margin: 0 auto;
  border-radius: 3px;
  width: 32.2rem;
  padding: 10px;
  height: max-content;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 30.3rem;
  height: 30.3rem;
}

.newGameButton {
  background-color: rgb(56, 181, 181);
  border: 1px solid beige;
  border-radius: 5px;
  padding: 5px 15px;
  color: beige;
  font-size: 2rem;
}

.gameStatusText {
  font-size: 2rem;
  color: rgb(89, 146, 147);
  width: 30rem;
  height: 2.5rem;
}